.button {
    background-color: #791E94;
    color: white;
    border-radius: 10px;
    padding: 5px;
    padding-right: 40px;
    padding-left: 40px;
    border-color: #791E94;
}


.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.input {
    display: flex;
    margin: 2vh 0;
    align-items: flex-start;
}

.input label h2 {
    font-weight: 500;
}

.input select,
.input input {
    width: 20vw;
    height: 3vh;
    margin-left: 2vw;
    border-radius: 20px;
}

.box .button {
    align-self: flex-end;
    margin-right: 4%;
}