.estoque {
  background-color: #009f93;
  width: 100vw;
  height: 100vh;
}

.titulo {
  display: flex;
  justify-content: center;
  color: #f7fff7;
}

.button{
  background-color: #791e94;
  color: #f7fff7;
  margin-left: 3vw;
  border-radius: 10px;
}