.meusTestes {
    background-color: #009F93;
    height: 100vh;
    width: 100vw;

}

.titulo {
    padding: 25px;
    display: flex;
    justify-content: center;
    color: #f7fff7;
}


.cimaDaTabela {
    display: flex;
    justify-content: space-around;
}

.addButton {
    background-color: #791E94;
    color: white;
    border-radius: 10px;
    padding: 5px;
    border-color: #791E94;
    cursor:pointer;
}

.button {
    background-color: #791E94;
    color: white;
    border-radius: 10px;
    padding: 5px;
    padding-right: 40px;
    padding-left: 40px;
    margin: 10px;
    border-color: #791E94;
    cursor:pointer;

}

.button:hover {
    background-color: #791E94;
    color: white;
    border-radius: 10px;
    padding: 5px;
    padding-right: 40px;
    padding-left: 40px;
    margin: 10px;
    border-color: #791E94;

}