.perfil {
    background-color: #c7edc7;
    width: 100vw;
    height: calc(100vh - 64px);
    display: flex;
    flex-direction: row !important;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

.img{
    margin-top: 10vh;
    align-self: flex-start;
}

.page{
    overflow: hidden;
}


.box {
    transform: translateX(-50%);
}

.button {
    background-color: #002400;
    color: white;
    border-radius: 10px;
    padding: 5px;
    padding-right: 40px;
    padding-left: 40px;
    border-color: #002400;
}

.input input {
    border-radius: 10px;
    padding: 0 5px;
    margin-left: 1vw !important;
    align-self: center;
    width: 18vw;
    height: 30px;
    font-size: 20px;
}

.input{
    margin: 2vh;
}

.perfil .buttonX {
    align-self: flex-end;
    background-color: #DE6449;
    color: white;
    border-radius: 10px;
    padding: 5px;
    padding-right: 40px;
    padding-left: 40px;
    border-color: #DE6449;
}

.excluir{
    position: absolute;
    right: -100%;
    bottom: -190%;
}