.signupForm {
    width: 35vw;
    height: 35vh;
    display: flex;
    border-radius: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F7FFF7;
    font-size: 25px;


}

.formGroup {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.formGroup input {
    border-radius: 10px;
    padding: 0 5px;
    margin-left: 1vw !important;
    align-self: center;
    width: 18vw;
    height: 30px;
    font-size: 20px;
}

.signupForm .input {
    width: 20vw;
    height: 3vh;
    margin-left: 2vw;
    border-radius: 20px;

}

.signupButton {
    background-color: #791e94;
    color: white;
    width: 4vw;
    height: 4vh;
    border-radius: 10px;
}

.signupButtonDirection {
    display: flex;
    align-items: center;
    justify-content: center;
}